body{
    margin: 0;
    border: none;
    font-family: 'Urbanist', sans-serif;
}
header{
    height: 35em;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
    background-size: cover;
    box-shadow: 5px 10px;
}
header img{
    max-width:100%;
    margin: 0;
    background-size: cover;
    object-fit: cover;
    display:block;
}
nav{
    padding: 5px;
    height: 90px;
    color: aliceblue;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(8, 1, 17);
    /* float: right; */
}
#logo {
    margin-left: 2em;
}
#logo h1, h3 {
    margin: 0%;
    padding: 0%;
    cursor: pointer;
}
nav ul{
    height: 30px;
    list-style-type: none;
    margin: 0;
    text-align: center;
}
nav li{
    display: inline-block;
    list-style-type: none;
    font-size: 1.5em;
}
nav li a{
    font-size: large;
    color: aliceblue;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left:2em;
    padding-right:2em;
    text-decoration: none;
}
footer{
    margin-top: 50px;
    height: 200px;
    width: 100%;
    background-color: rgb(39, 167, 64);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 60%;
    margin: 0 auto;
}

fieldset {
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

div {
    text-align: center;
}
h1{
    text-align: center;
}
